{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype</title>
    <script type="module" src="{% static 'whereToPark/index.js' %}" defer></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
</head>
<body>
    <div style="width: 1000px;height:1000px" id='map'></div>
    {% for bylaw in np_bylaws %}
        <div> {{ bylaw.boundary_start.lat }}</div></br>
    {% endfor %}
    <script>

        let currentEventMarkers = [];

        let hiddenInput = document.querySelector("#MAPBOX_API_KEY");
        let mapboxAccessToken = "pk.eyJ1IjoiYXNoYXJwMDIiLCJhIjoiY2p5b3EwMTJyMTdoajNtbG1jZTJsaHJvYSJ9.KacigdAtzleu4QeM-dx7XQ";

        function drawMap() {
        mapboxgl.accessToken = mapboxAccessToken;
        map = new mapboxgl.Map({
            container: "map", // container ID
            style: "mapbox://styles/mapbox/streets-v12", // style URL
            center: [-79.3832, 43.6532], // starting position [lng, lat]
            zoom: 10.5, // starting zoom
        });
        let marker_a;
        let marker_b;
        let coord_a;
        let coord_b;
        {% for bylaw in rp_bylaws %}
            coord_a = [{{ bylaw.boundary_start.lng }}, {{ bylaw.boundary_start.lat }} ]
            coord_b = [{{ bylaw.boundary_end.lng }}, {{ bylaw.boundary_end.lat }} ]
            marker_a = new mapboxgl.Marker({ color: "#50C878" })
                .setLngLat(coord_a)
                .addTo(map);
            marker_b = new mapboxgl.Marker({ color: "#50C878" })
                .setLngLat(coord_b)
                .addTo(map);
        {% endfor %}
        {% for bylaw in np_bylaws %}
            coord_a = [{{ bylaw.boundary_start.lng }}, {{ bylaw.boundary_start.lat }} ]
            coord_b = [{{ bylaw.boundary_end.lng }}, {{ bylaw.boundary_end.lat }} ]
            marker_a = new mapboxgl.Marker({ color: "#ff0000" })
                .setLngLat(coord_a)
                .addTo(map);
            marker_b = new mapboxgl.Marker({ color: "#ff0000" })
                .setLngLat(coord_b)
                .addTo(map);
        {% endfor %}
        }
        drawMap()
    </script>
</body>